---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogLink from "../components/BlogLink.astro";
const pageTitle = "Blog";
const allPosts = await Astro.glob('./posts/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ArcaneLG's Destiny 2 Blog</title>
	</head>
	<BaseLayout pageTitle={pageTitle}>
		<ul>
            {allPosts.map((post) => <BlogLink url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} />)}
        </ul>
	</BaseLayout>
</html>